
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=49374ce83c0e3952d643ec343cfbee9d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress